<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<%- include('partials/loginCss') %> 
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<% for(let i= 0; i < exams.length; i++){%>
			<div class="wrap-login100">

				
				<form class="login100-form validate-form p-l-150 p-r-150 p-t-178">
					<span class="login100-form-title">
						<%= exams[i].title %>
					</span>

	
					<div class="container-login100-form-btn">
						<!-- <button class="login100-form-btn showExamBtn" >
							Show the exam
						</button> -->
						<a href="/showExam/<%= exams[i].id %>" class="login100-form-btn showExamBtn">Show Exam</a>
						<br> <br>
						<br> 
						
						<button class="login100-form-btn showExamPathBtn" examid="<%-exams[i].id%>" >
							Start
						</button>
					</div>

					<br>
					
				</form>
				
			</div>
			&nbsp; &nbsp;
			<% } %>
				
		</div>
	</div>
	
	
<!--===============================================================================================-->
<%- include('partials/loginJs') %> 
<!--===============================================================================================-->
	

	<script>
		document.querySelectorAll('.showExamPathBtn').forEach(btn => {
			btn.addEventListener('click', e => {
				e.preventDefault()
				alert('this is the path: '+ window.location.origin +'/exam/'+btn.getAttribute('examid'))
			})
		})
	</script>

</body>
</html>