<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/htmlJs') %>

    <%- include('partials/adminCss') %>

    <title>Interface exam</title>
</head>

<body>
    <div class="container ">
        <div class="row"><br>
            <span class="image-position"><a href="https://www.facebook.com/meuix/?ref=settings" target="_blank">
                    <img
                        src="https://lh4.googleusercontent.com/fLEIj3iQb7O1FhjOpLFbJtHmsMlLGmLynSWUvAP70qF0HLEBty-FANvwweg7Sv2XqSpzOKNI=w1366-h638"></a>
            </span>
        </div>
        <div class=" row"><br><br>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="loader row">

                    <div class="col-md-4 mb-3">
                        <label for="examTitle">Title</label>
                        <input type="text" class="form-control" id="examTitle" placeholder="Pierre" required>

                    </div>


                    <br><br>
                    <br>
                    <br>
                    <% for(let i= 0; i < questions.length; i++){%>
                    <div id="quiz" class=" col-md-3 quizContainer ">

                        <div class="question">

                            <h3><span class="label label-warning" id="qid"><%=i+1%></span>
                                <!-- <span id="question"> How can you add a single line comment in a JavaScript?</span> -->
                                <input type="text" class="" value="<%= questions[i].Q %>">
                            </h3>
                        </div>
                        <ul>

                            <li>
                                <input type="text" class="choiceInp1" name="selector" value="<%=questions[i].C[0]%>">

                            </li>

                            <li>
                                <input type="text" class="choiceInp2" name="selector" value="<%=questions[i].C[1]%>">

                            </li>
                            <li>
                                <input type="text" class="choiceInp3" name="selector" value="<%=questions[i].C[2]%>">
                            </li>
                        </ul>
                        <div>
                            <input type="number" class="answerInp" value="<%= questions[i].A %>">
                        </div>
                        <br>
                        <!-- <a href="#" class="btn btn-success mt-3 editBtn" questionid="%=_id%>">Edit</a> -->

                        <button class="btn btn-success mt-3 editBtn" questionid="<%=questions[i]._id%>">edit
                            Now</button>
                        <br>
                        <!-- <button class="btn btn-success mt-3 deleteBtn" deleteQuestionId ="< = questions[i]._id %>" >delete</button>-->
                        <a href="#" class="btn btn-success mt-3 showDeleteModalBtn"
                            deleteQuestionId="<%= questions[i]._id %>">delete</a>
                        <br>
                        <br>
                    </div>
                    <!-- <br> -->
                    <% } %>
                    <br>
                </div>

                <div class="text-muted">
                    <span id="answer"></span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div id="result-of-question" class="pulse animated" style="display: none;">
                    <span id="totalCorrect" class="pull-right"></span>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Question No.</th>
                                <th>Our answer</th>
                                <th>Your answer</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody id="quizResult"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="deleteConfirmModule">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This book and its related files gonna be deleted and there is no way to bring them back.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="background-color: red;"
                        id="deleteQuestionBtn">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/htmlJsFooter') %>

    <script>
        // edit the question content
        document.querySelectorAll('.editBtn').forEach(element => {
            element.addEventListener('click', e => {
                e.preventDefault()
                // alert(e.target.getAttribute('questionid'))
                const questionid = e.target.getAttribute('questionid')

                const question = e.target.parentElement.querySelector('.questionInp').value
                const choice1 = e.target.parentElement.querySelector('.choiceInp1').value
                const choice2 = e.target.parentElement.querySelector('.choiceInp2').value
                const choice3 = e.target.parentElement.querySelector('.choiceInp3').value
                const answer = e.target.parentElement.querySelector('.answerInp').value

                //NOTE this are the names of the parameters that i send to the body (check :adminRouter edit question post)
                const sentQuestion = {
                    question,
                    choice1,
                    choice2,
                    choice3,
                    answer,
                    questionid
                };
                console.log(sentQuestion);
                fetch('/admin/editQuestions', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                        //'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: JSON.stringify(sentQuestion)

                }).then(response => {
                    console.log(response);

                    if (response.status == 200) {
                        response.json().then(data => {
                            console.log(data);
                            if (data === 1) {
                                alert("successfully updated")
                            } else {
                                alert('server error')
                            }
                        }).catch(error => {
                            console.log(error);
                            alert("something went wrong")
                        })
                    }
                }).catch(error => {
                    console.log(error);
                    alert("can not send data")
                })

            })
        })


        // delete the question content
        let deleteQuestionId;
        document.querySelectorAll('.showDeleteModalBtn').forEach(btn => {
            btn.addEventListener('click', e => {
                e.preventDefault()
                $('#deleteConfirmModule').modal('show')
                deleteQuestionId = e.target.getAttribute('deleteQuestionId');

            })
        });
        document.querySelector('#deleteQuestionBtn').addEventListener('click', e => {
            e.preventDefault()
            fetch('/admin/deleteQuestions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    deleteQuestionId
                })
            }).then(response => {
                //hide the delete confirmation modal
                $('#deleteConfirmModule').modal('hide')
                if (response.status == 200) {
                    response.json().then(data => {
                        if (data === 1) {
                            document.querySelector('a[deleteQuestionId="' + deleteQuestionId +
                                '"]').parentElement.remove()
                            //const deleteQuestionId= e.target.getAttribute('deleteQuestionId').parentElement.remove()        
                            //document.querySelector('.deleteBtn').parentElement.remove()
                            document.querySelector('deleteQuestionId').parentElement.remove()
                        } else {
                            alert("can not be deleted")
                        }
                    }).catch(error => {
                        alert("server side error, please contact the web admin")
                    })
                } else {
                    alert("can not connect to the server")
                }
            }).catch(error => {
                alert("can not connect to the server")
            })
        })
    </script>


</body>

</html>